{
  "openapi": "3.1.0",
  "info": {
    "title": "Recommand Peppol API",
    "description": "\nWelcome to the Recommand Peppol API documentation. This API provides a comprehensive set of endpoints for managing and interacting with the Recommand Peppol platform.\n\n## Getting Started\n\nTo get started with the API:\n\n1. Create an API key and secret in the Recommand dashboard\n2. Use Basic Authentication with your API key and secret\n3. Make requests to the available endpoints\n\n## Authentication\n\nAll API requests must be authenticated using Basic Authentication, JWT bearer authentication, or OAuth2. More information on the authentication methods can be found [in the Recommand authentication guide](https://recommand.eu/en/docs/authentication-guide).\n\n> [!TIP]\n> If you are signed in to the Recommand dashboard in this browser, you can use the API client that is embedded below without creating an API key, you will be authenticated via a session cookie.\n\n## Team and company IDs\n\nFor some endpoints, you will need to provide a team or company ID.\n\n- You can find your team ID [here](https://app.recommand.eu/api-keys).\n- You can find your company IDs [here](https://app.recommand.eu/companies).\n\n## Support\n\nFor additional support or questions, don't hesitate to contact our support team.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.recommand.eu",
      "description": "Recommand API"
    }
  ],
  "components": {
    "securitySchemes": {
      "httpBasic": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic API key authentication. Create a new API key and secret in the Recommand dashboard."
      },
      "jwt": {
        "type": "http",
        "scheme": "bearer",
        "description": "JWT authentication. Create a new JWT token in the Recommand dashboard."
      }
    },
    "schemas": {
      "Email": {
        "type": "object",
        "properties": {
          "when": {
            "type": "string",
            "enum": [
              "always",
              "on_peppol_failure"
            ],
            "default": "on_peppol_failure",
            "description": "When to send the email. If the provided Peppol recipient is null, email becomes the primary delivery method and emails are always sent."
          },
          "to": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The email addresses to send the document to.",
            "example": [
              "support@recommand.eu"
            ]
          },
          "subject": {
            "type": "string",
            "description": "The subject of the email. If not provided, the subject will be autogenerated based on the document type.",
            "example": "Invoice SI-001"
          },
          "htmlBody": {
            "type": "string",
            "description": "The HTML body of the email. If not provided, the body will be autogenerated based on the document type.",
            "example": "Dear customer, you can find your invoice attached."
          }
        },
        "required": [
          "to"
        ],
        "description": "Email delivery options. When Peppol recipient is provided, email is optional and you can choose to always send the email, or only when Peppol delivery fails. When Peppol recipient is null, email becomes the primary delivery method and `email.to` is required. Each sent email is counted towards your document quota."
      },
      "PDFGeneration": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "default": false,
            "description": "Whether to generate a PDF of the document and include it as an embedded attachment."
          },
          "filename": {
            "type": "string",
            "description": "Optional filename to use for the generated PDF attachment. Defaults to a filename derived from the document number (e.g. invoice-001.pdf).",
            "example": "INV-2024-001.pdf"
          }
        },
        "description": "Optionally generate a PDF of the document and include it as an embedded attachment (also included in email attachments when email sending is enabled). Not supported for message level responses, French Invoicing CDAR messages, or raw XML documents."
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "invoiceNumber": {
            "type": "string",
            "example": "INV-2024-001"
          },
          "issueDate": {
            "type": "string",
            "format": "date",
            "example": "2024-03-20"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "example": "2024-04-20"
          },
          "note": {
            "type": [
              "string",
              "null"
            ],
            "example": "Thank you for your business"
          },
          "buyerReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "PO-2024-001"
          },
          "purchaseOrderReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "PO-2024-001",
            "description": "A reference to a related purchase order"
          },
          "salesOrderReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "SO-2024-001",
            "description": "A reference to a related sales order."
          },
          "despatchReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "DE-2024-001",
            "description": "A reference to a related despatch advice document (e.g. packing slip)"
          },
          "seller": {
            "$ref": "#/components/schemas/Party"
          },
          "buyer": {
            "$ref": "#/components/schemas/Party"
          },
          "delivery": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Delivery"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional delivery information."
          },
          "paymentMeans": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentMeans"
            },
            "description": "Optional payment information. For most invoices, this should be provided. For prepaid invoices, this could be omitted."
          },
          "paymentTerms": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "note": {
                "type": "string",
                "example": "Net 30"
              }
            },
            "required": [
              "note"
            ]
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Line"
            },
            "minItems": 1
          },
          "discounts": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Discount"
            },
            "description": "Optional global discounts"
          },
          "surcharges": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Surcharge"
            },
            "description": "Optional global surcharges"
          },
          "totals": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Totals"
              },
              {
                "type": "null"
              }
            ]
          },
          "vat": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/VatTotals"
              },
              {
                "type": "null"
              }
            ]
          },
          "attachments": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Attachment"
            },
            "description": "Optional attachments to the invoice"
          },
          "currency": {
            "type": "string",
            "enum": [
              "XUA",
              "AFN",
              "DZD",
              "ARS",
              "AMD",
              "AWG",
              "AUD",
              "AZN",
              "BSD",
              "BHD",
              "THB",
              "PAB",
              "BBD",
              "BYN",
              "BZD",
              "BMD",
              "VES",
              "VED",
              "BOB",
              "XBA",
              "XBB",
              "XBD",
              "XBC",
              "BRL",
              "BND",
              "BGN",
              "BIF",
              "CVE",
              "CAD",
              "KYD",
              "XOF",
              "XAF",
              "XPF",
              "CLP",
              "XTS",
              "COP",
              "KMF",
              "CDF",
              "BAM",
              "NIO",
              "CRC",
              "CUP",
              "CZK",
              "GMD",
              "DKK",
              "MKD",
              "DJF",
              "STN",
              "DOP",
              "VND",
              "XCD",
              "EGP",
              "SVC",
              "ETB",
              "EUR",
              "FKP",
              "FJD",
              "HUF",
              "GHS",
              "GIP",
              "XAU",
              "HTG",
              "PYG",
              "GNF",
              "GYD",
              "HKD",
              "UAH",
              "ISK",
              "INR",
              "IRR",
              "IQD",
              "JMD",
              "JOD",
              "KES",
              "PGK",
              "KWD",
              "AOA",
              "MMK",
              "LAK",
              "GEL",
              "LBP",
              "ALL",
              "HNL",
              "LRD",
              "LYD",
              "SZL",
              "LSL",
              "MGA",
              "MWK",
              "MYR",
              "MUR",
              "MXN",
              "MXV",
              "MDL",
              "MAD",
              "MZN",
              "BOV",
              "NGN",
              "ERN",
              "NAD",
              "NPR",
              "ANG",
              "ILS",
              "TWD",
              "NZD",
              "BTN",
              "KPW",
              "NOK",
              "MRU",
              "TOP",
              "PKR",
              "XPD",
              "MOP",
              "UYU",
              "PHP",
              "XPT",
              "GBP",
              "BWP",
              "QAR",
              "GTQ",
              "ZAR",
              "OMR",
              "KHR",
              "RON",
              "MVR",
              "IDR",
              "RUB",
              "RWF",
              "SHP",
              "SAR",
              "XDR",
              "RSD",
              "SCR",
              "SLE",
              "XAG",
              "SGD",
              "PEN",
              "SBD",
              "KGS",
              "SOS",
              "TJS",
              "SSP",
              "LKR",
              "XSU",
              "SDG",
              "SRD",
              "SEK",
              "CHF",
              "SYP",
              "BDT",
              "WST",
              "TZS",
              "KZT",
              "XXX",
              "TTD",
              "MNT",
              "TND",
              "TRY",
              "TMT",
              "AED",
              "UGX",
              "CLF",
              "COU",
              "UYW",
              "UYI",
              "USD",
              "USN",
              "UZS",
              "VUV",
              "CHE",
              "CHW",
              "KRW",
              "YER",
              "JPY",
              "CNY",
              "ZMW",
              "ZWG",
              "PLN"
            ],
            "default": "EUR",
            "example": "EUR",
            "description": "The currency of the invoice. Defaults to EUR."
          },
          "countrySpecific": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CountrySpecificBilling"
              },
              {
                "type": "null"
              }
            ],
            "description": "Structured country-specific requirements. The FR variant is required for French regulated UBL, CII, and Factur-X document types."
          }
        },
        "required": [
          "invoiceNumber",
          "issueDate",
          "seller",
          "buyer",
          "lines"
        ]
      },
      "Party": {
        "type": "object",
        "properties": {
          "vatNumber": {
            "type": [
              "string",
              "null"
            ],
            "example": "BE1234567894"
          },
          "enterpriseNumberScheme": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "0002",
              "0003",
              "0004",
              "0005",
              "0006",
              "0007",
              "0008",
              "0009",
              "0010",
              "0011",
              "0012",
              "0013",
              "0014",
              "0015",
              "0016",
              "0017",
              "0018",
              "0019",
              "0020",
              "0021",
              "0022",
              "0023",
              "0024",
              "0025",
              "0026",
              "0027",
              "0028",
              "0029",
              "0030",
              "0031",
              "0032",
              "0033",
              "0034",
              "0035",
              "0036",
              "0037",
              "0038",
              "0039",
              "0040",
              "0041",
              "0042",
              "0043",
              "0044",
              "0045",
              "0046",
              "0047",
              "0048",
              "0049",
              "0050",
              "0051",
              "0052",
              "0053",
              "0054",
              "0055",
              "0056",
              "0057",
              "0058",
              "0059",
              "0060",
              "0061",
              "0062",
              "0063",
              "0064",
              "0065",
              "0066",
              "0067",
              "0068",
              "0069",
              "0070",
              "0071",
              "0072",
              "0073",
              "0074",
              "0075",
              "0076",
              "0077",
              "0078",
              "0079",
              "0080",
              "0081",
              "0082",
              "0083",
              "0084",
              "0085",
              "0086",
              "0087",
              "0088",
              "0089",
              "0090",
              "0091",
              "0093",
              "0094",
              "0095",
              "0096",
              "0097",
              "0098",
              "0099",
              "0100",
              "0101",
              "0102",
              "0104",
              "0105",
              "0106",
              "0107",
              "0108",
              "0109",
              "0110",
              "0111",
              "0112",
              "0113",
              "0114",
              "0115",
              "0116",
              "0117",
              "0118",
              "0119",
              "0120",
              "0121",
              "0122",
              "0123",
              "0124",
              "0125",
              "0126",
              "0127",
              "0128",
              "0129",
              "0130",
              "0131",
              "0132",
              "0133",
              "0134",
              "0135",
              "0136",
              "0137",
              "0138",
              "0139",
              "0140",
              "0141",
              "0142",
              "0143",
              "0144",
              "0145",
              "0146",
              "0147",
              "0148",
              "0149",
              "0150",
              "0151",
              "0152",
              "0153",
              "0154",
              "0155",
              "0156",
              "0157",
              "0158",
              "0159",
              "0160",
              "0161",
              "0162",
              "0163",
              "0164",
              "0165",
              "0166",
              "0167",
              "0168",
              "0169",
              "0170",
              "0171",
              "0172",
              "0173",
              "0174",
              "0175",
              "0176",
              "0177",
              "0178",
              "0179",
              "0180",
              "0183",
              "0184",
              "0185",
              "0186",
              "0187",
              "0188",
              "0189",
              "0190",
              "0191",
              "0192",
              "0193",
              "0194",
              "0195",
              "0196",
              "0197",
              "0198",
              "0199",
              "0200",
              "0201",
              "0202",
              "0203",
              "0204",
              "0205",
              "0206",
              "0207",
              "0208",
              "0209",
              "0210",
              "0211",
              "0212",
              "0213",
              "0214",
              "0215",
              "0216",
              "0217",
              "0218",
              "0219",
              "0220",
              "0221",
              "0222",
              "0223",
              "0224",
              "0225",
              "0226",
              "0227",
              "0228",
              "0229",
              "0230",
              "0231",
              "0232",
              "0233",
              "0234",
              "0235",
              "0236",
              "0237",
              "0238",
              "0239",
              "0240",
              null
            ],
            "example": "0208",
            "description": "The scheme that corresponds to the enterprise number. Can be found [here](https://docs.peppol.eu/poacc/billing/3.0/codelist/ICD/)."
          },
          "enterpriseNumber": {
            "type": [
              "string",
              "null"
            ],
            "example": "1234567894"
          },
          "name": {
            "type": "string",
            "example": "Example Company"
          },
          "street": {
            "type": "string",
            "example": "Example Street 1"
          },
          "street2": {
            "type": [
              "string",
              "null"
            ],
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "example": "Brussels"
          },
          "postalZone": {
            "type": "string",
            "example": "1000"
          },
          "country": {
            "type": "string",
            "minLength": 2,
            "maxLength": 2,
            "example": "BE"
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "example": "email@example.com",
            "description": "The email address of the party. If not provided, the email address will not be included in the document."
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "example": "887 654 321",
            "description": "The phone number of the party. Must contain at least 3 digits. If not provided, the phone number will not be included in the document."
          }
        },
        "required": [
          "name",
          "street",
          "city",
          "postalZone",
          "country"
        ]
      },
      "Delivery": {
        "type": "object",
        "properties": {
          "date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "example": "2025-03-20",
            "description": "The date of the delivery."
          },
          "locationIdentifier": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "scheme": {
                "type": "string",
                "example": "0088"
              },
              "identifier": {
                "type": "string",
                "example": "123456789"
              }
            },
            "required": [
              "scheme",
              "identifier"
            ],
            "example": {
              "scheme": "0088",
              "identifier": "123456789"
            },
            "description": "The identifier of the delivery location. Schemes can be found [here](https://docs.peppol.eu/poacc/billing/3.0/codelist/ICD/)."
          },
          "location": {
            "type": "object",
            "properties": {
              "street": {
                "type": [
                  "string",
                  "null"
                ],
                "example": "Example Street 1"
              },
              "street2": {
                "type": [
                  "string",
                  "null"
                ],
                "example": "Suite 100"
              },
              "city": {
                "type": [
                  "string",
                  "null"
                ],
                "example": "Brussels"
              },
              "postalZone": {
                "type": [
                  "string",
                  "null"
                ],
                "example": "1000"
              },
              "country": {
                "type": "string",
                "minLength": 2,
                "maxLength": 2,
                "example": "BE"
              }
            },
            "required": [
              "country"
            ]
          },
          "recipientName": {
            "type": "string",
            "example": "Company Ltd.",
            "description": "The name of the party to which the goods and services are delivered."
          }
        }
      },
      "PaymentMeans": {
        "type": "object",
        "properties": {
          "name": {
            "type": [
              "string",
              "null"
            ],
            "example": "Credit Transfer",
            "description": "The name of the payment means."
          },
          "paymentMethod": {
            "type": "string",
            "enum": [
              "cash",
              "credit_transfer",
              "debit_transfer",
              "bank_card",
              "credit_card",
              "debit_card",
              "sepa_credit_transfer",
              "sepa_direct_debit",
              "other"
            ],
            "default": "credit_transfer",
            "example": "credit_transfer"
          },
          "reference": {
            "type": "string",
            "default": "",
            "example": "INV-2026-001"
          },
          "iban": {
            "type": "string",
            "example": "BE1234567890"
          },
          "financialInstitutionBranch": {
            "type": [
              "string",
              "null"
            ],
            "description": "An identifier for the payment service provider where a payment account is located. Such as a BIC or a national clearing code where required."
          }
        },
        "required": [
          "iban"
        ]
      },
      "Line": {
        "type": "object",
        "properties": {
          "id": {
            "type": [
              "string",
              "null"
            ],
            "example": "1",
            "description": "A line number. If not provided, it will be calculated automatically."
          },
          "name": {
            "type": "string",
            "default": "",
            "example": "Consulting Services"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "example": "Professional consulting services"
          },
          "note": {
            "type": [
              "string",
              "null"
            ],
            "description": "A textual note that gives unstructured information that is relevant to this line."
          },
          "buyersId": {
            "type": [
              "string",
              "null"
            ],
            "example": "CS-001",
            "description": "The item identifier of the item as defined by the buyer."
          },
          "sellersId": {
            "type": [
              "string",
              "null"
            ],
            "example": "CS-001",
            "description": "The item identifier of the item as defined by the seller. This is typically a product code or SKU."
          },
          "standardId": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "scheme": {
                "type": "string",
                "example": "0160"
              },
              "identifier": {
                "type": "string",
                "example": "10986700"
              }
            },
            "required": [
              "scheme",
              "identifier"
            ],
            "description": "The standard identifier of the item based on a registered scheme. Schemes can be found [here](https://docs.peppol.eu/poacc/billing/3.0/codelist/ICD/)."
          },
          "documentReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "INV-2024-001",
            "description": "A reference to a related document, mostly used to refer to a related invoice."
          },
          "orderLineReference": {
            "type": [
              "string",
              "null"
            ],
            "description": "A reference to a related order line."
          },
          "commodityClassifications": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/ItemClassificationCode"
            },
            "description": "Optional commodity classifications"
          },
          "additionalItemProperties": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/AdditionalItemProperty"
            },
            "description": "Optional additional item properties"
          },
          "originCountry": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 2,
            "maxLength": 2,
            "example": "BE",
            "description": "The country of origin of the item."
          },
          "quantity": {
            "type": "string",
            "example": "21.00",
            "description": "Decimal number as a string with flexible precision",
            "default": "1.00"
          },
          "unitCode": {
            "type": "string",
            "default": "C62",
            "example": "HUR",
            "description": "Recommended unit codes can be found [here](https://docs.peppol.eu/poacc/billing/3.0/codelist/UNECERec20/)."
          },
          "netPriceAmount": {
            "type": "string",
            "example": "12.40",
            "description": "Decimal number as a string with flexible precision"
          },
          "baseQuantity": {
            "type": [
              "string",
              "null"
            ],
            "example": "1",
            "description": "The number of units to which the price refers. When greater than 1, the price is for a batch/pack of this size. The actual unit price is netPriceAmount / baseQuantity."
          },
          "discounts": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/LineDiscount"
            },
            "description": "Optional discounts for the line"
          },
          "surcharges": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/LineSurcharge"
            },
            "description": "Optional surcharges for the line"
          },
          "netAmount": {
            "type": [
              "string",
              "null"
            ],
            "example": "21.00",
            "description": "The total net amount of the line: quantity * netPriceAmount. Rounded to 2 decimal places. If not provided, it will be calculated automatically."
          },
          "vat": {
            "$ref": "#/components/schemas/VAT"
          }
        },
        "required": [
          "netPriceAmount",
          "vat"
        ]
      },
      "ItemClassificationCode": {
        "type": "object",
        "properties": {
          "scheme": {
            "type": "string",
            "enum": [
              "AA",
              "AB",
              "AC",
              "AD",
              "AE",
              "AF",
              "AG",
              "AH",
              "AI",
              "AJ",
              "AK",
              "AL",
              "AM",
              "AN",
              "AO",
              "AP",
              "AQ",
              "AR",
              "AS",
              "AT",
              "AU",
              "AV",
              "AW",
              "AX",
              "AY",
              "AZ",
              "BA",
              "BB",
              "BC",
              "BD",
              "BE",
              "BF",
              "BG",
              "BH",
              "BI",
              "BJ",
              "BK",
              "BL",
              "BM",
              "BN",
              "BO",
              "BP",
              "BQ",
              "BR",
              "BS",
              "BT",
              "BU",
              "BV",
              "BW",
              "BX",
              "BY",
              "BZ",
              "CC",
              "CG",
              "CL",
              "CR",
              "CV",
              "DR",
              "DW",
              "EC",
              "EF",
              "EMD",
              "EN",
              "FS",
              "GB",
              "GMN",
              "GN",
              "GS",
              "HS",
              "IB",
              "IN",
              "IS",
              "IT",
              "IZ",
              "MA",
              "MF",
              "MN",
              "MP",
              "NB",
              "ON",
              "PD",
              "PL",
              "PO",
              "PV",
              "QS",
              "RC",
              "RN",
              "RU",
              "RY",
              "SA",
              "SG",
              "SK",
              "SN",
              "SRS",
              "SRT",
              "SRU",
              "SRV",
              "SRW",
              "SRX",
              "SRY",
              "SRZ",
              "SS",
              "SSA",
              "SSB",
              "SSC",
              "SSD",
              "SSE",
              "SSF",
              "SSG",
              "SSH",
              "SSI",
              "SSJ",
              "SSK",
              "SSL",
              "SSM",
              "SSN",
              "SSO",
              "SSP",
              "SSQ",
              "SSR",
              "SSS",
              "SST",
              "SSU",
              "SSV",
              "SSW",
              "SSX",
              "SSY",
              "SSZ",
              "ST",
              "STA",
              "STB",
              "STC",
              "STD",
              "STE",
              "STF",
              "STG",
              "STH",
              "STI",
              "STJ",
              "STK",
              "STL",
              "STM",
              "STN",
              "STO",
              "STP",
              "STQ",
              "STR",
              "STS",
              "STT",
              "STU",
              "STV",
              "STW",
              "STX",
              "STY",
              "STZ",
              "SUA",
              "SUB",
              "SUC",
              "SUD",
              "SUE",
              "SUF",
              "SUG",
              "SUH",
              "SUI",
              "SUJ",
              "SUK",
              "SUL",
              "SUM",
              "TG",
              "TSN",
              "TSO",
              "TSP",
              "TSQ",
              "TSR",
              "TSS",
              "TST",
              "TSU",
              "UA",
              "UP",
              "VN",
              "VP",
              "VS",
              "VX",
              "ZZZ",
              "PPI"
            ],
            "example": "SN",
            "description": "The scheme of the item classification code. Can be found [here](https://docs.peppol.eu/poacc/billing/3.0/codelist/UNCL7143/)."
          },
          "schemeVersion": {
            "type": [
              "string",
              "null"
            ]
          },
          "value": {
            "type": "string",
            "minLength": 1,
            "example": "123456",
            "description": "The value of the item classification code."
          }
        },
        "required": [
          "scheme",
          "value"
        ]
      },
      "AdditionalItemProperty": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Color"
          },
          "value": {
            "type": "string",
            "example": "Red"
          }
        },
        "required": [
          "name",
          "value"
        ]
      },
      "LineDiscount": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": [
              "string",
              "null"
            ],
            "example": "95",
            "description": "The reason code for the discount. This must be one of the codes in the [UNCL5189 subset](https://docs.peppol.eu/poacc/billing/3.0/codelist/UNCL5189/) code list. For example, `95` for regular discounts. Either reason or reasonCode must be provided."
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "example": "Discount",
            "description": "The reason for the discount. This is a free text field. Either reason or reasonCode must be provided."
          },
          "amount": {
            "type": "string",
            "example": "21.00",
            "description": "Decimal number as a string with 2 decimal places"
          }
        },
        "required": [
          "amount"
        ]
      },
      "LineSurcharge": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": [
              "string",
              "null"
            ],
            "example": "FC",
            "description": "The reason code for the surcharge. This must be one of the codes in the [UNCL7161 subset](https://docs.peppol.eu/poacc/billing/3.0/codelist/UNCL7161/) code list. For example, `FC` for freight services. Either reason or reasonCode must be provided."
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "example": "Freight services",
            "description": "The reason for the surcharge. This is a free text field. Either reason or reasonCode must be provided."
          },
          "amount": {
            "type": "string",
            "example": "21.00",
            "description": "Decimal number as a string with 2 decimal places"
          }
        },
        "required": [
          "amount"
        ]
      },
      "VAT": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "enum": [
              "AE",
              "E",
              "S",
              "Z",
              "G",
              "O",
              "K",
              "L",
              "M",
              "B"
            ],
            "example": "S",
            "description": "VAT category code. All codes can be found [here](https://docs.peppol.eu/poacc/billing/3.0/codelist/UNCL5305/). When sending regular invoices, you should most often use the `S` category. When sending an invoice to another EU country, use the `AE` category for VAT Reverse Charge. In those cases, it is still recommended to include a note in the invoice explaining that the VAT Reverse Charge applies.",
            "default": "S"
          },
          "percentage": {
            "type": "string",
            "example": "21.00",
            "description": "Decimal number as a string with 2 decimal places"
          }
        },
        "required": [
          "percentage"
        ]
      },
      "Discount": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": [
              "string",
              "null"
            ],
            "example": "95",
            "description": "The reason code for the discount. This must be one of the codes in the [UNCL5189 subset](https://docs.peppol.eu/poacc/billing/3.0/codelist/UNCL5189/) code list. For example, `95` for regular discounts. Either reason or reasonCode must be provided."
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "example": "Discount",
            "description": "The reason for the discount. This is a free text field. Either reason or reasonCode must be provided."
          },
          "amount": {
            "type": "string",
            "example": "21.00",
            "description": "Decimal number as a string with 2 decimal places"
          },
          "vat": {
            "$ref": "#/components/schemas/VAT"
          }
        },
        "required": [
          "amount",
          "vat"
        ]
      },
      "Surcharge": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": [
              "string",
              "null"
            ],
            "example": "FC",
            "description": "The reason code for the surcharge. This must be one of the codes in the [UNCL7161 subset](https://docs.peppol.eu/poacc/billing/3.0/codelist/UNCL7161/) code list. For example, `FC` for freight services. Either reason or reasonCode must be provided."
          },
          "reason": {
            "type": [
              "string",
              "null"
            ],
            "example": "Freight services",
            "description": "The reason for the surcharge. This is a free text field. Either reason or reasonCode must be provided."
          },
          "amount": {
            "type": "string",
            "example": "21.00",
            "description": "Decimal number as a string with 2 decimal places"
          },
          "vat": {
            "$ref": "#/components/schemas/VAT"
          }
        },
        "required": [
          "amount",
          "vat"
        ]
      },
      "Totals": {
        "type": "object",
        "properties": {
          "linesAmount": {
            "type": [
              "string",
              "null"
            ],
            "example": "21.00",
            "description": "The tax exclusive total amount of all lines. Rounded to 2 decimal places."
          },
          "discountAmount": {
            "type": [
              "string",
              "null"
            ],
            "example": "21.00",
            "description": "The tax exclusive total amount of all discounts. If not provided, this will be calculated automatically."
          },
          "surchargeAmount": {
            "type": [
              "string",
              "null"
            ],
            "example": "21.00",
            "description": "The tax exclusive total amount of all surcharges. If not provided, this will be calculated automatically."
          },
          "taxExclusiveAmount": {
            "type": "string",
            "example": "21.00",
            "description": "The tax exclusive total amount of all lines, discounts and surcharges. Rounded to 2 decimal places."
          },
          "taxInclusiveAmount": {
            "type": "string",
            "example": "21.00",
            "description": "The tax inclusive total amount of all lines, discounts and surcharges. Rounded to 2 decimal places."
          },
          "payableAmount": {
            "type": [
              "string",
              "null"
            ],
            "example": "21.00",
            "description": "The amount to be paid. If not provided, this will be taxInclusiveAmount. Can be used in combination with paidAmount to indicate partial payment or payment rounding. Rounded to 2 decimal places."
          },
          "paidAmount": {
            "type": [
              "string",
              "null"
            ],
            "example": "21.00",
            "description": "The amount paid. If not provided, this will be taxInclusiveAmount - payableAmount. Can be used in combination with payableAmount to indicate partial payment or payment rounding. Rounded to 2 decimal places."
          }
        },
        "required": [
          "taxExclusiveAmount",
          "taxInclusiveAmount"
        ],
        "description": "If not provided, the totals will be calculated from the document lines."
      },
      "VatTotals": {
        "type": "object",
        "properties": {
          "totalVatAmount": {
            "type": "string",
            "example": "21.00",
            "description": "Decimal number as a string with 2 decimal places"
          },
          "subtotals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VATSubtotal"
            }
          }
        },
        "required": [
          "totalVatAmount",
          "subtotals"
        ],
        "title": "Provided VAT totals"
      },
      "VATSubtotal": {
        "type": "object",
        "properties": {
          "taxableAmount": {
            "type": "string",
            "example": "21.00",
            "description": "Decimal number as a string with 2 decimal places"
          },
          "vatAmount": {
            "type": "string",
            "example": "21.00",
            "description": "Decimal number as a string with 2 decimal places"
          },
          "category": {
            "type": "string",
            "enum": [
              "AE",
              "E",
              "S",
              "Z",
              "G",
              "O",
              "K",
              "L",
              "M",
              "B"
            ],
            "example": "S",
            "description": "VAT category code. All codes can be found [here](https://docs.peppol.eu/poacc/billing/3.0/codelist/UNCL5305/). When sending regular invoices, you should most often use the `S` category. When sending an invoice to another EU country, use the `AE` category for VAT Reverse Charge. In those cases, it is still recommended to include a note in the invoice explaining that the VAT Reverse Charge applies."
          },
          "percentage": {
            "type": "string",
            "example": "21.00",
            "description": "Decimal number as a string with 2 decimal places"
          },
          "exemptionReasonCode": {
            "type": [
              "string",
              "null"
            ],
            "description": "If the invoice is exempt from VAT, this (or exemptionReason) is required. The exemption reason code identifier must belong to the CEF VATEX code list\tfound [here](https://docs.peppol.eu/poacc/billing/3.0/2024-Q4/codelist/vatex/)."
          },
          "exemptionReason": {
            "type": [
              "string",
              "null"
            ],
            "description": "If the invoice is exempt from VAT, this (or exemptionReasonCode) is required. The exemption reason must be a textual statement of the reason why the amount is exempt from VAT or why no VAT is charged."
          }
        },
        "required": [
          "taxableAmount",
          "vatAmount",
          "category",
          "percentage"
        ]
      },
      "Attachment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "ATT-001"
          },
          "mimeCode": {
            "type": "string",
            "default": "application/pdf",
            "example": "application/pdf",
            "description": "MIME type of the document (e.g. application/pdf, text/csv, image/png)"
          },
          "filename": {
            "type": "string",
            "example": "contract.pdf",
            "description": "Filename for an embedded attachment. This is included in the Peppol XML only when `embeddedDocument` is provided. For URL-only attachments, the document contains an external reference and the filename is not embedded."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "example": "Signed contract"
          },
          "embeddedDocument": {
            "type": [
              "string",
              "null"
            ],
            "description": "base64 encoded document"
          },
          "url": {
            "type": [
              "string",
              "null"
            ],
            "example": "https://example.com/contract.pdf"
          }
        },
        "required": [
          "id",
          "filename"
        ]
      },
      "CountrySpecificBilling": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/FrenchCountrySpecificBilling"
          }
        ],
        "discriminator": {
          "propertyName": "country",
          "mapping": {
            "FR": "#/components/schemas/FrenchCountrySpecificBilling"
          }
        },
        "description": "Country-specific structured billing requirements. Use the FR variant for French regulated UBL, CII, and Factur-X; omit this field for plain EN 16931 and other document types."
      },
      "FrenchCountrySpecificBilling": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "const": "FR",
            "description": "Identifies this as the French regulatory extension. This is independent from seller, buyer, delivery, and origin country codes."
          },
          "billingMode": {
            "type": "string",
            "enum": [
              "B1",
              "S1",
              "M1",
              "B2",
              "S2",
              "M2",
              "S3",
              "B4",
              "S4",
              "M4",
              "S5",
              "S6",
              "B7",
              "S7",
              "B8",
              "S8",
              "M8",
              "B9",
              "S9",
              "M9"
            ],
            "example": "S1",
            "description": "Required only for French regulated UBL, CII, and Factur-X. Select the invoicing framework that matches the invoice.\n\n| Mode | Description |\n| --- | --- |\n| `B1` | Goods invoice. |\n| `S1` | Services invoice. |\n| `M1` | Mixed invoice containing goods and services that are not ancillary to each other. |\n| `B2` | Goods invoice that has already been paid. |\n| `S2` | Services invoice that has already been paid. |\n| `M2` | Mixed invoice that has already been paid. |\n| `S3` | B2G subcontractor payment request with direct payment. |\n| `B4` | Final goods invoice after an advance payment. |\n| `S4` | Final services invoice after an advance payment. |\n| `M4` | Final mixed invoice after an advance payment. |\n| `S5` | Invoice submitted by a subcontractor for services rendered. |\n| `S6` | Invoice submitted by a co-contractor for services rendered. |\n| `B7` | Goods invoice that has already been e-reported and for which VAT has already been collected. |\n| `S7` | Services invoice that has already been e-reported and for which VAT has already been collected. |\n| `B8` | Multi-seller goods invoice. |\n| `S8` | Multi-seller services invoice. |\n| `M8` | Multi-seller mixed invoice whose individual invoices are not all goods invoices or all services invoices. |\n"
          },
          "businessProcess": {
            "type": "string",
            "enum": [
              "REGULATED",
              "NON_REGULATED"
            ],
            "default": "REGULATED",
            "description": "Determines which French Peppol process the document is sent over. Defaults to `REGULATED`.\n\n| Value | Description |\n| --- | --- |\n| `REGULATED` | Transaction inside the French e-invoicing perimeter. Sent over `urn:peppol:france:billing:regulated`. |\n| `NON_REGULATED` | Transaction outside the French e-invoicing perimeter. Sent over `urn:peppol:france:billing:non-regulated`. |\n\nThe recipient must have registered the matching process for the document type in its SMP.",
            "example": "REGULATED"
          },
          "recoveryCostsNote": {
            "type": "string",
            "minLength": 1,
            "example": "Indemnite forfaitaire de 40 EUR pour frais de recouvrement.",
            "description": "The mandatory French recovery-cost indemnity statement, written as an IncludedNote with subject code PMT."
          },
          "latePaymentPenaltiesNote": {
            "type": "string",
            "minLength": 1,
            "example": "Penalites de retard exigibles au taux prevu dans les conditions generales de vente.",
            "description": "The mandatory French late-payment penalties statement, written as an IncludedNote with subject code PMD."
          },
          "earlyPaymentDiscountNote": {
            "type": "string",
            "minLength": 1,
            "example": "Aucun escompte accorde pour paiement anticipe.",
            "description": "The mandatory French early-payment discount statement, written as an IncludedNote with subject code AAB. State either the offered discount terms or explicitly that no early-payment discount applies."
          }
        },
        "required": [
          "country",
          "billingMode",
          "recoveryCostsNote",
          "latePaymentPenaltiesNote",
          "earlyPaymentDiscountNote"
        ],
        "description": "Structured information required by French regulated UBL, CII, and Factur-X. The billing modes and notes follow AFNOR XP Z12-012."
      },
      "SendInvoice": {
        "type": "object",
        "properties": {
          "invoiceNumber": {
            "type": "string",
            "example": "INV-2024-001"
          },
          "issueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "example": "2024-03-20",
            "description": "If not provided, the issue date will be the current date."
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "example": "2024-04-20",
            "description": "If not provided, the due date will be 1 month from the issue date."
          },
          "note": {
            "type": [
              "string",
              "null"
            ],
            "example": "Thank you for your business"
          },
          "buyerReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "PO-2024-001"
          },
          "purchaseOrderReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "PO-2024-001",
            "description": "A reference to a related purchase order"
          },
          "salesOrderReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "SO-2024-001",
            "description": "A reference to a related sales order."
          },
          "despatchReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "DE-2024-001",
            "description": "A reference to a related despatch advice document (e.g. packing slip)"
          },
          "seller": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Party"
              },
              {
                "type": "null"
              }
            ],
            "description": "If not provided, the seller will be the company that is sending the invoice."
          },
          "buyer": {
            "$ref": "#/components/schemas/Party"
          },
          "delivery": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Delivery"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional delivery information."
          },
          "paymentMeans": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentMeans"
            },
            "description": "Optional payment information. For most invoices, this should be provided. For prepaid invoices, this could be omitted."
          },
          "paymentTerms": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "note": {
                "type": "string",
                "example": "Net 30"
              }
            },
            "required": [
              "note"
            ]
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Line"
            },
            "minItems": 1
          },
          "discounts": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Discount"
            },
            "description": "Optional global discounts"
          },
          "surcharges": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Surcharge"
            },
            "description": "Optional global surcharges"
          },
          "totals": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Totals"
              },
              {
                "type": "null"
              }
            ]
          },
          "vat": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/VatTotals"
              },
              {
                "$ref": "#/components/schemas/VatTotalsAutoCalculation"
              },
              {
                "type": "null"
              }
            ],
            "description": "If not provided, the VAT totals will be calculated from the document lines."
          },
          "attachments": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Attachment"
            },
            "description": "Optional attachments to the invoice"
          },
          "currency": {
            "type": "string",
            "enum": [
              "XUA",
              "AFN",
              "DZD",
              "ARS",
              "AMD",
              "AWG",
              "AUD",
              "AZN",
              "BSD",
              "BHD",
              "THB",
              "PAB",
              "BBD",
              "BYN",
              "BZD",
              "BMD",
              "VES",
              "VED",
              "BOB",
              "XBA",
              "XBB",
              "XBD",
              "XBC",
              "BRL",
              "BND",
              "BGN",
              "BIF",
              "CVE",
              "CAD",
              "KYD",
              "XOF",
              "XAF",
              "XPF",
              "CLP",
              "XTS",
              "COP",
              "KMF",
              "CDF",
              "BAM",
              "NIO",
              "CRC",
              "CUP",
              "CZK",
              "GMD",
              "DKK",
              "MKD",
              "DJF",
              "STN",
              "DOP",
              "VND",
              "XCD",
              "EGP",
              "SVC",
              "ETB",
              "EUR",
              "FKP",
              "FJD",
              "HUF",
              "GHS",
              "GIP",
              "XAU",
              "HTG",
              "PYG",
              "GNF",
              "GYD",
              "HKD",
              "UAH",
              "ISK",
              "INR",
              "IRR",
              "IQD",
              "JMD",
              "JOD",
              "KES",
              "PGK",
              "KWD",
              "AOA",
              "MMK",
              "LAK",
              "GEL",
              "LBP",
              "ALL",
              "HNL",
              "LRD",
              "LYD",
              "SZL",
              "LSL",
              "MGA",
              "MWK",
              "MYR",
              "MUR",
              "MXN",
              "MXV",
              "MDL",
              "MAD",
              "MZN",
              "BOV",
              "NGN",
              "ERN",
              "NAD",
              "NPR",
              "ANG",
              "ILS",
              "TWD",
              "NZD",
              "BTN",
              "KPW",
              "NOK",
              "MRU",
              "TOP",
              "PKR",
              "XPD",
              "MOP",
              "UYU",
              "PHP",
              "XPT",
              "GBP",
              "BWP",
              "QAR",
              "GTQ",
              "ZAR",
              "OMR",
              "KHR",
              "RON",
              "MVR",
              "IDR",
              "RUB",
              "RWF",
              "SHP",
              "SAR",
              "XDR",
              "RSD",
              "SCR",
              "SLE",
              "XAG",
              "SGD",
              "PEN",
              "SBD",
              "KGS",
              "SOS",
              "TJS",
              "SSP",
              "LKR",
              "XSU",
              "SDG",
              "SRD",
              "SEK",
              "CHF",
              "SYP",
              "BDT",
              "WST",
              "TZS",
              "KZT",
              "XXX",
              "TTD",
              "MNT",
              "TND",
              "TRY",
              "TMT",
              "AED",
              "UGX",
              "CLF",
              "COU",
              "UYW",
              "UYI",
              "USD",
              "USN",
              "UZS",
              "VUV",
              "CHE",
              "CHW",
              "KRW",
              "YER",
              "JPY",
              "CNY",
              "ZMW",
              "ZWG",
              "PLN"
            ],
            "default": "EUR",
            "example": "EUR",
            "description": "The currency of the invoice. Defaults to EUR."
          },
          "countrySpecific": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CountrySpecificBilling"
              },
              {
                "type": "null"
              }
            ],
            "description": "Structured country-specific requirements. The FR variant is required for French regulated UBL, CII, and Factur-X document types."
          }
        },
        "required": [
          "invoiceNumber",
          "buyer",
          "lines"
        ],
        "title": "Invoice to send",
        "description": "Invoice to send to a recipient"
      },
      "VatTotalsAutoCalculation": {
        "type": "object",
        "properties": {
          "exemptionReasonCode": {
            "type": [
              "string",
              "null"
            ],
            "description": "If the invoice is exempt from VAT, this (or exemptionReason) is required. The exemption reason code identifier must belong to the CEF VATEX code list\tfound [here](https://docs.peppol.eu/poacc/billing/3.0/2024-Q4/codelist/vatex/)."
          },
          "exemptionReason": {
            "type": [
              "string",
              "null"
            ],
            "description": "If the invoice is exempt from VAT, this (or exemptionReasonCode) is required. The exemption reason must be a textual statement of the reason why the amount is exempt from VAT or why no VAT is charged."
          }
        },
        "title": "VAT totals auto calculation",
        "description": "Recommand will automatically calculate the VAT totals based on the document lines. For invoices that are exempt from VAT, you can provide the exemption reason or reason code here to inform the recipient of the reason why the amount is exempt from VAT."
      },
      "CreditNote": {
        "type": "object",
        "properties": {
          "creditNoteNumber": {
            "type": "string",
            "example": "CN-2024-001"
          },
          "issueDate": {
            "type": "string",
            "format": "date",
            "example": "2024-03-20"
          },
          "note": {
            "type": [
              "string",
              "null"
            ],
            "example": "Thank you for your business"
          },
          "buyerReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "PO-2024-001"
          },
          "invoiceReferences": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1,
                  "example": "INV-2024-001",
                  "description": "The reference to the invoice that is being credited"
                },
                "issueDate": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date",
                  "example": "2024-03-20",
                  "description": "The issue date of the invoice that is being credited"
                }
              },
              "required": [
                "id"
              ]
            },
            "default": [],
            "description": "References to one or more invoices that are being credited"
          },
          "purchaseOrderReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "PO-2024-001",
            "description": "A reference to a related purchase order"
          },
          "salesOrderReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "SO-2024-001",
            "description": "A reference to a related sales order."
          },
          "despatchReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "DE-2024-001",
            "description": "A reference to a related despatch advice document (e.g. packing slip)"
          },
          "seller": {
            "$ref": "#/components/schemas/Party"
          },
          "buyer": {
            "$ref": "#/components/schemas/Party"
          },
          "delivery": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Delivery"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional delivery information."
          },
          "paymentMeans": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentMeans"
            }
          },
          "paymentTerms": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "note": {
                "type": "string",
                "example": "Net 30"
              }
            },
            "required": [
              "note"
            ]
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Line"
            },
            "minItems": 1
          },
          "discounts": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Discount"
            },
            "description": "Optional global discounts"
          },
          "surcharges": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Surcharge"
            },
            "description": "Optional global surcharges"
          },
          "totals": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Totals"
              },
              {
                "type": "null"
              }
            ]
          },
          "vat": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/VatTotals"
              },
              {
                "type": "null"
              }
            ]
          },
          "attachments": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Attachment"
            },
            "description": "Optional attachments to the credit note"
          },
          "currency": {
            "type": "string",
            "enum": [
              "XUA",
              "AFN",
              "DZD",
              "ARS",
              "AMD",
              "AWG",
              "AUD",
              "AZN",
              "BSD",
              "BHD",
              "THB",
              "PAB",
              "BBD",
              "BYN",
              "BZD",
              "BMD",
              "VES",
              "VED",
              "BOB",
              "XBA",
              "XBB",
              "XBD",
              "XBC",
              "BRL",
              "BND",
              "BGN",
              "BIF",
              "CVE",
              "CAD",
              "KYD",
              "XOF",
              "XAF",
              "XPF",
              "CLP",
              "XTS",
              "COP",
              "KMF",
              "CDF",
              "BAM",
              "NIO",
              "CRC",
              "CUP",
              "CZK",
              "GMD",
              "DKK",
              "MKD",
              "DJF",
              "STN",
              "DOP",
              "VND",
              "XCD",
              "EGP",
              "SVC",
              "ETB",
              "EUR",
              "FKP",
              "FJD",
              "HUF",
              "GHS",
              "GIP",
              "XAU",
              "HTG",
              "PYG",
              "GNF",
              "GYD",
              "HKD",
              "UAH",
              "ISK",
              "INR",
              "IRR",
              "IQD",
              "JMD",
              "JOD",
              "KES",
              "PGK",
              "KWD",
              "AOA",
              "MMK",
              "LAK",
              "GEL",
              "LBP",
              "ALL",
              "HNL",
              "LRD",
              "LYD",
              "SZL",
              "LSL",
              "MGA",
              "MWK",
              "MYR",
              "MUR",
              "MXN",
              "MXV",
              "MDL",
              "MAD",
              "MZN",
              "BOV",
              "NGN",
              "ERN",
              "NAD",
              "NPR",
              "ANG",
              "ILS",
              "TWD",
              "NZD",
              "BTN",
              "KPW",
              "NOK",
              "MRU",
              "TOP",
              "PKR",
              "XPD",
              "MOP",
              "UYU",
              "PHP",
              "XPT",
              "GBP",
              "BWP",
              "QAR",
              "GTQ",
              "ZAR",
              "OMR",
              "KHR",
              "RON",
              "MVR",
              "IDR",
              "RUB",
              "RWF",
              "SHP",
              "SAR",
              "XDR",
              "RSD",
              "SCR",
              "SLE",
              "XAG",
              "SGD",
              "PEN",
              "SBD",
              "KGS",
              "SOS",
              "TJS",
              "SSP",
              "LKR",
              "XSU",
              "SDG",
              "SRD",
              "SEK",
              "CHF",
              "SYP",
              "BDT",
              "WST",
              "TZS",
              "KZT",
              "XXX",
              "TTD",
              "MNT",
              "TND",
              "TRY",
              "TMT",
              "AED",
              "UGX",
              "CLF",
              "COU",
              "UYW",
              "UYI",
              "USD",
              "USN",
              "UZS",
              "VUV",
              "CHE",
              "CHW",
              "KRW",
              "YER",
              "JPY",
              "CNY",
              "ZMW",
              "ZWG",
              "PLN"
            ],
            "default": "EUR",
            "example": "EUR",
            "description": "The currency of the credit note. Defaults to EUR."
          },
          "countrySpecific": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CountrySpecificBilling"
              },
              {
                "type": "null"
              }
            ],
            "description": "Structured country-specific requirements. The FR variant is required for French regulated UBL, CII, and Factur-X document types."
          }
        },
        "required": [
          "creditNoteNumber",
          "issueDate",
          "seller",
          "buyer",
          "lines"
        ]
      },
      "SendCreditNote": {
        "type": "object",
        "properties": {
          "creditNoteNumber": {
            "type": "string",
            "example": "CN-2024-001"
          },
          "issueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "example": "2024-03-20",
            "description": "If not provided, the issue date will be the current date."
          },
          "note": {
            "type": [
              "string",
              "null"
            ],
            "example": "Thank you for your business"
          },
          "buyerReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "PO-2024-001"
          },
          "invoiceReferences": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1,
                  "example": "INV-2024-001",
                  "description": "The reference to the invoice that is being credited"
                },
                "issueDate": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date",
                  "example": "2024-03-20",
                  "description": "The issue date of the invoice that is being credited"
                }
              },
              "required": [
                "id"
              ]
            },
            "default": [],
            "description": "References to one or more invoices that are being credited"
          },
          "purchaseOrderReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "PO-2024-001",
            "description": "A reference to a related purchase order"
          },
          "salesOrderReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "SO-2024-001",
            "description": "A reference to a related sales order."
          },
          "despatchReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "DE-2024-001",
            "description": "A reference to a related despatch advice document (e.g. packing slip)"
          },
          "seller": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Party"
              },
              {
                "type": "null"
              }
            ],
            "description": "If not provided, the seller will be the company that is sending the credit note."
          },
          "buyer": {
            "$ref": "#/components/schemas/Party"
          },
          "delivery": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Delivery"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional delivery information."
          },
          "paymentMeans": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentMeans"
            }
          },
          "paymentTerms": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "note": {
                "type": "string",
                "example": "Net 30"
              }
            },
            "required": [
              "note"
            ]
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Line"
            },
            "minItems": 1
          },
          "discounts": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Discount"
            },
            "description": "Optional global discounts"
          },
          "surcharges": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Surcharge"
            },
            "description": "Optional global surcharges"
          },
          "totals": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Totals"
              },
              {
                "type": "null"
              }
            ]
          },
          "vat": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/VatTotals"
              },
              {
                "$ref": "#/components/schemas/VatTotalsAutoCalculation"
              },
              {
                "type": "null"
              }
            ],
            "description": "If not provided, the VAT totals will be calculated from the document lines."
          },
          "attachments": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Attachment"
            },
            "description": "Optional attachments to the credit note"
          },
          "currency": {
            "type": "string",
            "enum": [
              "XUA",
              "AFN",
              "DZD",
              "ARS",
              "AMD",
              "AWG",
              "AUD",
              "AZN",
              "BSD",
              "BHD",
              "THB",
              "PAB",
              "BBD",
              "BYN",
              "BZD",
              "BMD",
              "VES",
              "VED",
              "BOB",
              "XBA",
              "XBB",
              "XBD",
              "XBC",
              "BRL",
              "BND",
              "BGN",
              "BIF",
              "CVE",
              "CAD",
              "KYD",
              "XOF",
              "XAF",
              "XPF",
              "CLP",
              "XTS",
              "COP",
              "KMF",
              "CDF",
              "BAM",
              "NIO",
              "CRC",
              "CUP",
              "CZK",
              "GMD",
              "DKK",
              "MKD",
              "DJF",
              "STN",
              "DOP",
              "VND",
              "XCD",
              "EGP",
              "SVC",
              "ETB",
              "EUR",
              "FKP",
              "FJD",
              "HUF",
              "GHS",
              "GIP",
              "XAU",
              "HTG",
              "PYG",
              "GNF",
              "GYD",
              "HKD",
              "UAH",
              "ISK",
              "INR",
              "IRR",
              "IQD",
              "JMD",
              "JOD",
              "KES",
              "PGK",
              "KWD",
              "AOA",
              "MMK",
              "LAK",
              "GEL",
              "LBP",
              "ALL",
              "HNL",
              "LRD",
              "LYD",
              "SZL",
              "LSL",
              "MGA",
              "MWK",
              "MYR",
              "MUR",
              "MXN",
              "MXV",
              "MDL",
              "MAD",
              "MZN",
              "BOV",
              "NGN",
              "ERN",
              "NAD",
              "NPR",
              "ANG",
              "ILS",
              "TWD",
              "NZD",
              "BTN",
              "KPW",
              "NOK",
              "MRU",
              "TOP",
              "PKR",
              "XPD",
              "MOP",
              "UYU",
              "PHP",
              "XPT",
              "GBP",
              "BWP",
              "QAR",
              "GTQ",
              "ZAR",
              "OMR",
              "KHR",
              "RON",
              "MVR",
              "IDR",
              "RUB",
              "RWF",
              "SHP",
              "SAR",
              "XDR",
              "RSD",
              "SCR",
              "SLE",
              "XAG",
              "SGD",
              "PEN",
              "SBD",
              "KGS",
              "SOS",
              "TJS",
              "SSP",
              "LKR",
              "XSU",
              "SDG",
              "SRD",
              "SEK",
              "CHF",
              "SYP",
              "BDT",
              "WST",
              "TZS",
              "KZT",
              "XXX",
              "TTD",
              "MNT",
              "TND",
              "TRY",
              "TMT",
              "AED",
              "UGX",
              "CLF",
              "COU",
              "UYW",
              "UYI",
              "USD",
              "USN",
              "UZS",
              "VUV",
              "CHE",
              "CHW",
              "KRW",
              "YER",
              "JPY",
              "CNY",
              "ZMW",
              "ZWG",
              "PLN"
            ],
            "default": "EUR",
            "example": "EUR",
            "description": "The currency of the credit note. Defaults to EUR."
          },
          "countrySpecific": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CountrySpecificBilling"
              },
              {
                "type": "null"
              }
            ],
            "description": "Structured country-specific requirements. The FR variant is required for French regulated UBL, CII, and Factur-X document types."
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "example": "2024-04-20",
            "description": "If not provided, the due date will be 1 month from the issue date."
          }
        },
        "required": [
          "creditNoteNumber",
          "buyer",
          "lines"
        ],
        "title": "Credit Note to send",
        "description": "Credit note to send to a recipient"
      },
      "SendSelfBillingInvoice": {
        "type": "object",
        "properties": {
          "invoiceNumber": {
            "type": "string",
            "example": "INV-2024-001"
          },
          "issueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "example": "2024-03-20",
            "description": "If not provided, the issue date will be the current date."
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "example": "2024-04-20",
            "description": "If not provided, the due date will be 1 month from the issue date."
          },
          "note": {
            "type": [
              "string",
              "null"
            ],
            "example": "Thank you for your business"
          },
          "buyerReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "PO-2024-001"
          },
          "purchaseOrderReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "PO-2024-001",
            "description": "A reference to a related purchase order"
          },
          "salesOrderReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "SO-2024-001",
            "description": "A reference to a related sales order."
          },
          "despatchReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "DE-2024-001",
            "description": "A reference to a related despatch advice document (e.g. packing slip)"
          },
          "seller": {
            "$ref": "#/components/schemas/Party",
            "description": "For self billing invoices, the seller is mandatory."
          },
          "buyer": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Party"
              },
              {
                "type": "null"
              }
            ],
            "description": "If not provided, the buyer will be the company that is sending the self billing invoice."
          },
          "delivery": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Delivery"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional delivery information."
          },
          "paymentMeans": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentMeans"
            },
            "description": "Optional payment information. For most invoices, this should be provided. For prepaid invoices, this could be omitted."
          },
          "paymentTerms": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "note": {
                "type": "string",
                "example": "Net 30"
              }
            },
            "required": [
              "note"
            ]
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Line"
            },
            "minItems": 1
          },
          "discounts": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Discount"
            },
            "description": "Optional global discounts"
          },
          "surcharges": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Surcharge"
            },
            "description": "Optional global surcharges"
          },
          "totals": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Totals"
              },
              {
                "type": "null"
              }
            ]
          },
          "vat": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/VatTotals"
              },
              {
                "$ref": "#/components/schemas/VatTotalsAutoCalculation"
              },
              {
                "type": "null"
              }
            ],
            "description": "If not provided, the VAT totals will be calculated from the document lines."
          },
          "attachments": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Attachment"
            },
            "description": "Optional attachments to the invoice"
          },
          "currency": {
            "type": "string",
            "enum": [
              "XUA",
              "AFN",
              "DZD",
              "ARS",
              "AMD",
              "AWG",
              "AUD",
              "AZN",
              "BSD",
              "BHD",
              "THB",
              "PAB",
              "BBD",
              "BYN",
              "BZD",
              "BMD",
              "VES",
              "VED",
              "BOB",
              "XBA",
              "XBB",
              "XBD",
              "XBC",
              "BRL",
              "BND",
              "BGN",
              "BIF",
              "CVE",
              "CAD",
              "KYD",
              "XOF",
              "XAF",
              "XPF",
              "CLP",
              "XTS",
              "COP",
              "KMF",
              "CDF",
              "BAM",
              "NIO",
              "CRC",
              "CUP",
              "CZK",
              "GMD",
              "DKK",
              "MKD",
              "DJF",
              "STN",
              "DOP",
              "VND",
              "XCD",
              "EGP",
              "SVC",
              "ETB",
              "EUR",
              "FKP",
              "FJD",
              "HUF",
              "GHS",
              "GIP",
              "XAU",
              "HTG",
              "PYG",
              "GNF",
              "GYD",
              "HKD",
              "UAH",
              "ISK",
              "INR",
              "IRR",
              "IQD",
              "JMD",
              "JOD",
              "KES",
              "PGK",
              "KWD",
              "AOA",
              "MMK",
              "LAK",
              "GEL",
              "LBP",
              "ALL",
              "HNL",
              "LRD",
              "LYD",
              "SZL",
              "LSL",
              "MGA",
              "MWK",
              "MYR",
              "MUR",
              "MXN",
              "MXV",
              "MDL",
              "MAD",
              "MZN",
              "BOV",
              "NGN",
              "ERN",
              "NAD",
              "NPR",
              "ANG",
              "ILS",
              "TWD",
              "NZD",
              "BTN",
              "KPW",
              "NOK",
              "MRU",
              "TOP",
              "PKR",
              "XPD",
              "MOP",
              "UYU",
              "PHP",
              "XPT",
              "GBP",
              "BWP",
              "QAR",
              "GTQ",
              "ZAR",
              "OMR",
              "KHR",
              "RON",
              "MVR",
              "IDR",
              "RUB",
              "RWF",
              "SHP",
              "SAR",
              "XDR",
              "RSD",
              "SCR",
              "SLE",
              "XAG",
              "SGD",
              "PEN",
              "SBD",
              "KGS",
              "SOS",
              "TJS",
              "SSP",
              "LKR",
              "XSU",
              "SDG",
              "SRD",
              "SEK",
              "CHF",
              "SYP",
              "BDT",
              "WST",
              "TZS",
              "KZT",
              "XXX",
              "TTD",
              "MNT",
              "TND",
              "TRY",
              "TMT",
              "AED",
              "UGX",
              "CLF",
              "COU",
              "UYW",
              "UYI",
              "USD",
              "USN",
              "UZS",
              "VUV",
              "CHE",
              "CHW",
              "KRW",
              "YER",
              "JPY",
              "CNY",
              "ZMW",
              "ZWG",
              "PLN"
            ],
            "default": "EUR",
            "example": "EUR",
            "description": "The currency of the invoice. Defaults to EUR."
          },
          "countrySpecific": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CountrySpecificBilling"
              },
              {
                "type": "null"
              }
            ],
            "description": "Structured country-specific requirements. The FR variant is required for French regulated UBL, CII, and Factur-X document types."
          }
        },
        "required": [
          "invoiceNumber",
          "seller",
          "lines"
        ],
        "title": "Self Billing Invoice to send",
        "description": "Self billing invoice to send to a recipient"
      },
      "SendSelfBillingCreditNote": {
        "type": "object",
        "properties": {
          "creditNoteNumber": {
            "type": "string",
            "example": "CN-2024-001"
          },
          "issueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date",
            "example": "2024-03-20",
            "description": "If not provided, the issue date will be the current date."
          },
          "note": {
            "type": [
              "string",
              "null"
            ],
            "example": "Thank you for your business"
          },
          "buyerReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "PO-2024-001"
          },
          "invoiceReferences": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 1,
                  "example": "INV-2024-001",
                  "description": "The reference to the invoice that is being credited"
                },
                "issueDate": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date",
                  "example": "2024-03-20",
                  "description": "The issue date of the invoice that is being credited"
                }
              },
              "required": [
                "id"
              ]
            },
            "default": [],
            "description": "References to one or more invoices that are being credited"
          },
          "purchaseOrderReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "PO-2024-001",
            "description": "A reference to a related purchase order"
          },
          "salesOrderReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "SO-2024-001",
            "description": "A reference to a related sales order."
          },
          "despatchReference": {
            "type": [
              "string",
              "null"
            ],
            "example": "DE-2024-001",
            "description": "A reference to a related despatch advice document (e.g. packing slip)"
          },
          "seller": {
            "$ref": "#/components/schemas/Party",
            "description": "For self billing credit notes, the seller is mandatory."
          },
          "buyer": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Party"
              },
              {
                "type": "null"
              }
            ],
            "description": "If not provided, the buyer will be the company that is sending the self billing credit note."
          },
          "delivery": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Delivery"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional delivery information."
          },
          "paymentMeans": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentMeans"
            }
          },
          "paymentTerms": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "note": {
                "type": "string",
                "example": "Net 30"
              }
            },
            "required": [
              "note"
            ]
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Line"
            },
            "minItems": 1
          },
          "discounts": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Discount"
            },
            "description": "Optional global discounts"
          },
          "surcharges": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Surcharge"
            },
            "description": "Optional global surcharges"
          },
          "totals": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/Totals"
              },
              {
                "type": "null"
              }
            ]
          },
          "vat": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/VatTotals"
              },
              {
                "$ref": "#/components/schemas/VatTotalsAutoCalculation"
              },
              {
                "type": "null"
              }
            ],
            "description": "If not provided, the VAT totals will be calculated from the document lines."
          },
          "attachments": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Attachment"
            },
            "description": "Optional attachments to the credit note"
          },
          "currency": {
            "type": "string",
            "enum": [
              "XUA",
              "AFN",
              "DZD",
              "ARS",
              "AMD",
              "AWG",
              "AUD",
              "AZN",
              "BSD",
              "BHD",
              "THB",
              "PAB",
              "BBD",
              "BYN",
              "BZD",
              "BMD",
              "VES",
              "VED",
              "BOB",
              "XBA",
              "XBB",
              "XBD",
              "XBC",
              "BRL",
              "BND",
              "BGN",
              "BIF",
              "CVE",
              "CAD",
              "KYD",
              "XOF",
              "XAF",
              "XPF",
              "CLP",
              "XTS",
              "COP",
              "KMF",
              "CDF",
              "BAM",
              "NIO",
              "CRC",
              "CUP",
              "CZK",
              "GMD",
              "DKK",
              "MKD",
              "DJF",
              "STN",
              "DOP",
              "VND",
              "XCD",
              "EGP",
              "SVC",
              "ETB",
              "EUR",
              "FKP",
              "FJD",
              "HUF",
              "GHS",
              "GIP",
              "XAU",
              "HTG",
              "PYG",
              "GNF",
              "GYD",
              "HKD",
              "UAH",
              "ISK",
              "INR",
              "IRR",
              "IQD",
              "JMD",
              "JOD",
              "KES",
              "PGK",
              "KWD",
              "AOA",
              "MMK",
              "LAK",
              "GEL",
              "LBP",
              "ALL",
              "HNL",
              "LRD",
              "LYD",
              "SZL",
              "LSL",
              "MGA",
              "MWK",
              "MYR",
              "MUR",
              "MXN",
              "MXV",
              "MDL",
              "MAD",
              "MZN",
              "BOV",
              "NGN",
              "ERN",
              "NAD",
              "NPR",
              "ANG",
              "ILS",
              "TWD",
              "NZD",
              "BTN",
              "KPW",
              "NOK",
              "MRU",
              "TOP",
              "PKR",
              "XPD",
              "MOP",
              "UYU",
              "PHP",
              "XPT",
              "GBP",
              "BWP",
              "QAR",
              "GTQ",
              "ZAR",
              "OMR",
              "KHR",
              "RON",
              "MVR",
              "IDR",
              "RUB",
              "RWF",
              "SHP",
              "SAR",
              "XDR",
              "RSD",
              "SCR",
              "SLE",
              "XAG",
              "SGD",
              "PEN",
              "SBD",
              "KGS",
              "SOS",
              "TJS",
              "SSP",
              "LKR",
              "XSU",
              "SDG",
              "SRD",
              "SEK",
              "CHF",
              "SYP",
              "BDT",
              "WST",
[...]
