<import from="./product-name-search"></import>

<div class="line-items">
    <div class="line-items-head">
        <h3 t="invoice.edit.invoice-lines">Invoice lines</h3>
    </div>
    <div class="table-wrapper">
        <table class="data-table line-table">
            <thead>
            <tr>
                <th style="width:80px">
                    <div style="display: flex">
                        <span t="invoice.edit.pos">Pos</span>
                        <button class="icon-btn" data-action="remove-line" title="Recreate line positions" t="[title]invoice.edit.recreate-positions" click.trigger="recalculateLinePositions()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-list-restart-icon lucide-list-restart"><path d="M21 5H3"/><path d="M7 12H3"/><path d="M7 19H3"/><path d="M12 18a5 5 0 0 0 9-3 4.5 4.5 0 0 0-4.5-4.5c-1.33 0-2.54.54-3.41 1.41L11 14"/><path d="M11 10v4h4"/></svg>
                        </button>
                    </div>
                </th>
                <th style="width:18%" t="product.table.name" class="required">Name</th>
                <th t="product.table.description">Description</th>
                <th class="num" style="width:120px" t="invoice.edit.amount">Amount</th>
                <th class="num" style="width:140px" t="invoice.edit.unit-price">Unit price</th>
                <th class="num" style="width:140px" t="invoice.edit.tax">Tax</th>
                <th class="num" style="width:140px" t="invoice.edit.total">Total</th>
                <th if.bind="!readOnly" class="actions-col" style="width:1%" t="invoice.edit.actions">Actions</th>
            </tr>
            </thead>
            <tbody if.bind="invoiceContext.selectedInvoice">
            <tr repeat.for="line of invoiceContext.lines">
                <td>
                    <div required-table-input.class="!line.ID">
                        <input class="pos" type="number" min="1" value.bind="line.ID"/>
                    </div>
                </td>
                <td>
                    <div required-table-input.class="!line.Item.Name">
                        <product-name-search input-value.two-way="line.Item.Name" readonly.bind="readOnly" on-search-change-function.bind="(e) => nameOnChange(e, line)"></product-name-search>
                    </div>
                </td>
                <td><textarea class="description required-input" placeholder="Description" t="[placeholder]label.description" value.bind="line.Item.Description" readonly.bind="readOnly"></textarea></td>
                <td class="num">
                    <template if.bind="invoiceContext.selectedDocumentType === 'INVOICE'">
                        <div required-table-input.class="!line.InvoicedQuantity.value">
                            <input class="qty" type="number" min="0" step="1" value.bind="line.InvoicedQuantity.value" change.trigger="calcLineTotal(line)" readonly.bind="readOnly" />
                        </div>
                    </template>
                    <template else>
                        <div required-table-input.class="!line.CreditedQuantity.value">
                            <input class="qty" type="number" min="0" step="1" value.bind="line.CreditedQuantity.value" change.trigger="calcLineTotal(line)" readonly.bind="readOnly" />
                        </div>
                    </template>
                </td>
                <td class="num">
                    <div required-table-input.class="!line.Price.PriceAmount.value">
                        <input class="unitPrice" type="number" min="0" step="0.01" value.bind="line.Price.PriceAmount.value" change.trigger="calcLineTotal(line)" readonly.bind="readOnly" />
                    </div>
                </td>
                <td class="num">
                    <select value.bind="line.Item.ClassifiedTaxCategory" change.trigger="calcLineTotal(line)" matcher.bind="taxCategoryMatcher" disabled.bind="readOnly">
                        <option repeat.for="taxCategory of taxCategories" model.bind="taxCategory">${taxCategory.Percent}%</option>
                    </select>
                </td>
                <td class="num"><span class="line-total">€&nbsp;${line.LineExtensionAmount.value}</span></td>
                <td if.bind="!readOnly" class="actions-col">
                    <button class="icon-btn" data-action="remove-line" title="Remove" t="[title]common.remove" click.trigger="deleteLine(line)">
                        <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash-icon lucide-trash"><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"/><path d="M3 6h18"/><path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/></svg>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
