.donations-sticky {
    position: fixed;
    bottom: 100px;
    left: 50%;
    width: 100%;
    max-width: 700px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    padding: 0
}

.donations-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.9rem;
    padding: 10px;
    max-height: 100px;
}

.donations-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.donations-icon {
    display: flex;
    align-items: center;
}

.donations-stats-total {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.sticky-bottom h3 {
    margin: 0;
}
