services:
  db:
    build:
      context: ./docker/db
    container_name: db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_APP_DB: syncables
      POSTGRES_APP_USER: syncables
      POSTGRES_APP_PASSWORD: syncables
  proxy:
    build:
      context: .
    container_name: proxy
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      DATABASE_URL: postgresql://syncables:syncables@db:5432/syncables
      SCRADA_API_KEY: your_scrada_api_key_here # edit me!
      SCRADA_API_PWD: your_scrada_api_pwd_here # edit me!
      SCRADA_COMPANY_ID: your_scrada_company_id_here # edit me!
      SCRADA_COMPANY_KEY: your_scrada_company_key_here # edit me!
      ACCESS_TOKEN_KEY: something-secret # edit me!
    depends_on:
      - db