auth_enabled: true

server:
  http_listen_port: 3100
  grpc_listen_port: 3101

schema_config:
  configs:
    - from: 2023-01-01
      store: tsdb
      object_store: s3
      schema: v13
      index:
        prefix: index_
        period: 24h

common:
  path_prefix: /loki
  replication_factor: 1
  compactor_address: http://loki:3100
  storage:
    s3:
      #endpoint: http://minio:9000 does not work
      endpoint: http://mimir:supersecret@minio:9000
      insecure: true
      bucketnames: loki-data
      access_key_id: mimir
      secret_access_key: supersecret
      s3forcepathstyle: true
  ring:
    kvstore:
      store: memberlist

ruler:
  storage:
    s3:
      bucketnames: loki-ruler

compactor:
  working_directory: /tmp/compactor

limits_config:
  max_query_lookback: 90d
  retention_period: 90d
  volume_enabled: true

ui:
  enabled: true
