<import from="../../../../app/value-converters/price.ts"></import>

<div class="composer-info">
    <div style="display: flex; flex-direction: row; margin-bottom: var(--space-025)" click.trigger="showAllowanceChargeModal()">
        <div class="card-header">
            <svg width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-tag-icon lucide-tag"><path d="M12.586 2.586A2 2 0 0 0 11.172 2H4a2 2 0 0 0-2 2v7.172a2 2 0 0 0 .586 1.414l8.704 8.704a2.426 2.426 0 0 0 3.42 0l6.58-6.58a2.426 2.426 0 0 0 0-3.42z"/><circle cx="7.5" cy="7.5" r=".5" fill="currentColor"/></svg>
            <h5 style="margin: 0" t="invoice.allowanceChargeModal.title">Discount/Costs</h5>
        </div>
        <button if.bind="!readOnly" class="icon-btn" title="Edit" t="[title]common.edit">
            <svg width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pen-icon lucide-pen"><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/></svg>
        </button>
    </div>

    <div repeat.for="line of invoiceContext.selectedInvoice.AllowanceCharge" style="display: flex; align-items: center; gap: var(--space-025)">
        <span if.bind="line.AllowanceChargeReason">${line.AllowanceChargeReason}</span>
        <span else t="${line.ChargeIndicator ? 'invoice.allowanceChargeModal.charge' : 'invoice.allowanceChargeModal.discount'}"></span>
        <span if.bind="line.AllowanceChargeReason" title.bind="line.AllowanceChargeReason" style="display: flex;">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info-icon lucide-info"><circle cx="12" cy="12" r="10"/><path d="M12 16v-4"/><path d="M12 8h.01"/></svg>
        </span>
        <span if.bind="line.MultiplierFactorNumeric">${line.MultiplierFactorNumeric}% ( ${line.Amount.value.toFixed(2) | price:line.Amount.__currencyID} )</span>
        <span else> ${line.Amount.value.toFixed(2) | price:line.Amount.__currencyID}</span>
    </div>

</div>
